.btn {
    border-radius: 5px;
    margin: 0 1rem;
    cursor: pointer;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.btn a {
    display: block;
    padding: 0.5rem 1rem;
    width: 100%;
    font-size: 1.6rem;
}
.btn.primary {
    border: none;
    background-color: var(--color-primary);
}
.btn.primary a {
    color: var(--color-text-btn);
}
.btn.primary:hover {
    animation: pulse 0.5s linear;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--color-primary);
    }
    100% {
        box-shadow: 0 0 5rem 2rem rgba(255, 255, 255, 0);
    }
}

.btn.outline {
    background-color: transparent;
    border: 1px solid var(--color-primary);
}
.btn.outline a {
    color: var(--color-primary);
}

.btn.outline:hover {
    box-shadow: 0 1px 4px 2px var(--color-primary);
    transition: 0.5s;
}

@media screen and (max-width: 1024px) {
    .btn a {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 740px) {
    .btn a {
        font-size: 1rem;
    }
}
